@font-face {
  font-family:adobemyungjostd-medium;
  src:url("Fonts/adobemyungjostd-medium.otf")
}

body {
  font-family: adobemyungjostd-medium;
  background-color: #721E1E;
  color: #E2D797;
  line-height: 40px;
 
}

li {
    font-size: 25px;
}

p {
    font-size: 25px;
}

.FirstSecondName{
  font-size:50px;
  font-style: italic;
  border-bottom: 10px solid #E2D797;
  margin-bottom: 290px;         
  border-radius: 10px;       

}

.Link{
  color:#E2D797; 
}


.Heading{
    font-size:30px;
}

.PhotoProfile{
  width: 300;
  height: 300px;
  border-radius: 150px;
  border:10px solid #E2D797
}
.Code{
  font-size: 20px;
}

.Wrapper{
  border:10px solid #E2D797;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin:0 auto;
  max-width: 1500px;
  gap:15%;
  
}

.Noteacode{
  width: 40%;
}

.Heading{
  border-bottom: 5px solid #E2D797;
  padding-bottom: 20px;         
  border-radius: 2px;   
}

.Block.Aboutme{
width: 740px;
}

.BlockCode{
  display: flex;
}
.HeadingCode.Second{
  margin-top: 100px;
}

.Head{
  display: flex;
  max-width: 1600px;
  justify-content:space-between;
  margin:0 auto;
}

.FirstSecondName{
margin-left:30% ;
}

.PhotoProfile{
  padding: 0px;
  margin-top: 4%;
}


.Color{
background-color: rgb(112, 3, 3);
}
.Color.First{
  padding-left: 191px;
}
.Color.Second{
  padding-right: 191px;
}
.code-wrapper {
  display: flex;
  gap: 100px;
  flex-wrap: nowrap;
}
.border{
  border: solid #E2D797;
  border-radius: 10px;
  border-width:10px ;
  background-color: rgb(112, 3, 3);
}
